@import "tailwindcss";
@import "leaflet/dist/leaflet.css"; /* europe maps*/

html {
  overflow-x: hidden; /*scroll */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f1fafa; /* light background */
  overflow-x: hidden; /*scroll */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: rgb(255, 118, 38);
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/*
h1 {
  font-size: 3.2em; 
  line-height: 1.1;
}*/

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
button:hover {
  border-color: #ffc107;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    background-color: #ffffff; 
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hero-section {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  height: 400px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
}

/* mobile version */
@media (max-width: 768px) {
  .hero-section {
    width: 95vw;
    margin-left: calc(50% - 47.5vw);
    height: 250px;
    padding: 10px;
    border-radius: 15px;
  }

  .quote {
    display: none;
  }
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  z-index: 0;
  opacity: 0;
}

.hero-background.active {
  opacity: 1;
}

.quote {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  text-align: right;
}

.travel-wrapper {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f6f7f9;
}

.top-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.circle {
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
}

.top-nav h2 {
  margin: 0;
}

.top-nav .highlight {
  background-color: #fcd6ae;
  font-weight: bold;
  padding: 0 8px;
}

.continent-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.continent-links a {
  color: #006699;
  text-decoration: none;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.continent-links a:last-child {
  border-right: none;
}

.content {
  display: flex;
  margin-top: 30px;
  gap: 40px;
  flex-wrap: wrap;
}

.hotels-list h4 {
  font-weight: bold;
}

.hotels-list ul {
  list-style: none;
  padding: 0;
}

.hotels-list li {
  margin: 5px 0;
  color: #1a7dc0;
  font-size: 14px;
  cursor: pointer;
}

.map {
  position: relative;
}

.map img {
  max-width: 500px;
}

.continent-label {
  position: absolute;
  padding: 3px 7px;
  background: #005978;
  color: white;
  font-size: 12px;
  border-radius: 3px;
}

.europa {
  top: 80px;
  left: 310px;
  background: orange;
  color: black;
}
.afrika {
  top: 170px;
  left: 330px;
}
.nordamerika {
  top: 80px;
  left: 100px;
}
.südamerika {
  top: 210px;
  left: 150px;
}
.karibik {
  top: 140px;
  left: 200px;
}
.asien {
  top: 90px;
  left: 440px;
}
.australien {
  top: 230px;
  left: 500px;
}

.header-full-width {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}
